<div class="container-fluid header sticky-top">
  <div class="d-flex flex-wrap">
    <div
      class="btn logo-wrapper col-sm-2 col-lg-2 col-md-2 col-xs-2 d-flex text-center d-flex align-items-center justify-content-center flex-column"
    (click)="this.router.navigate(['/'])">

      <img class="logo--image" src="assets/icons/logo.svg" alt="">
      <span class="logo-text">Second Chance</span>
    </div>
    <div class="d-none d-sm-flex col-sm-8 col-lg-8 col-md-none d-xs-flex align-items-center justify-content-center">
      <h5>Yapp will supply you amazing buy or sell experience <br> Give your items a second chance. Download the app
      </h5>
    </div>
  </div>
</div>

